# Local .terraform directories
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Exclude sensitive files
*.tfvars
*.tfvars.json
terraform.tfvars.json
*.auto.tfvars

# Ignore override files (used for local testing only)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration
.terraformrc
terraform.rc

# IDE/editor junk
.vscode/
.idea/
*.swp
*.swo
.DS_Store
